**/*.*proj.user
**/*.db
**/*.dbmdl
**/*.jfm
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.github
**/.gitignore
**/.idea
**/.project
**/.pytest_cache
**/.mypy_cache
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/Dockerfile*
**/__pycache__
**/bin
**/charts
**/compose*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/src/model
**/tests
pyproject.toml
LICENSE*
README.md
